<!-- /templates/404.liquid -->
{% include 'breadcrumbs' %}

<!-- <div class="{{ settings.theme_layout_type }}">
	<div class="row">
	  <div id="main" role="main" class="col-sm-12">
		<h1>{{ 'general.404.title' | t }}</h1>
		<p>{{ 'general.404.subtext_html' | t }}</p>0
	  </div>
	</div>
</div>


<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-sixth text-center">

    <h1>{{ 'general.404.title' | t }}</h1>
    <h2>Something got loose on our end</h2>
    <br style="line-height: 0.75em;"></br>
        <img src="https://cdn.shopify.com/s/files/1/2252/2137/files/russel_peters.jpg?12234064151521178217">
  	<br style="line-height: 2em;"></br>
    <p>{{ 'general.404.subtext_html' | t }}</p>
	<a href="https://dailyurbanstore.com/" 
       style="background-color: #a1c65b;color: #f3f3f3; padding: 5px
              ">
      CLICK HERE
</a>


  </div>

</div> -->


<div class="{{ settings.theme_layout_type }}">
	<div class="row">
	  <div id="main" role="main" class="col-sm-12">
		 <h1>{{ 'general.404.title' | t }}</h1>
    <h2>Something got loose on our end</h2>
    <br style="line-height: 0.75em;"></br>
        <img src="https://cdn.shopify.com/s/files/1/2252/2137/files/russel_peters.jpg?12234064151521178217">
  	<br style="line-height: 2em;"></br>
    <p>{{ 'general.404.subtext_html' | t }}</p>
	<a href="https://dailyurbanstore.com/" 
       style="background-color: #a1c65b;color: #f3f3f3; padding: 5px
              ">
      CLICK HERE
</a>

	  </div>
	</div>
</div>