<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

{% include 'breadcrumbs' %}

<div class="{{ settings.theme_layout_type }}">
  <div class="row">
    <div id="main" role="main" class="col-sm-6">

      <h1>{{ page.title }}</h1>

      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>
    </div>

    <div class="col-sm-6 contact-form-wrap">
      {% comment %}
        Contact form starts here
      {% endcomment %}

      {% form 'contact' %}

        {% comment %}
          Successful message
        {% endcomment %}
        {% if form.posted_successfully? %}
          <p class="note form-success alert alert-success" role="alert">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}
        
        {{ form.errors | default_errors }}

        {% assign name_attr = 'contact.form.name' | t | handle %}
        <div class="form-group">
          <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="ContactFormName" class="form-control" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>

        <div class="form-group">
          <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
          <input type="email" id="ContactFormEmail" class="form-control" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
        </div>

        {% assign name_attr = 'contact.form.phone' | t | handle %}
        <div class="form-group">
          <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="ContactFormPhone" class="form-control" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
        </div>

        <div class="form-group">
          <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
          <textarea rows="10" id="ContactFormMessage" class="form-control" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
        </div>
        
        <input type="submit" class="btn btn-default" value="{{ 'contact.form.send' | t }}">

      {% endform %}
    </div>
      
  </div>
</div>
